@using aspnetcore_mvc.Views.Manage
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item @ManageNavPages.IndexNavClass(ViewContext)"><a class="text-dark" asp-action="Index" data-text="Profile">Profile</a></li>
    <li class="nav-item @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="text-dark" asp-action="ChangePassword" data-text="Password">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a class="text-dark" asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="nav-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a class="text-dark" asp-action="TwoFactorAuthentication" data-text="2FA Authentication">2FA Authentication</a></li>
</ul>