@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Features.Authentication
@model aspnetcore_mvc.Models.Account.EnterPasswordModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Enter Password";
}

<div class="container">
    <div class="row">
        <div class="card">
            <article class="card-body">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input type="password"
                                   asp-for="Password"
                                   id="Password"
                                   placeholder="Enter Password" />
                            <label for="Password"><i class="fas fa-key"></i> Password</label>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>*@
                        @*<div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Submit Password</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a href="/Account/ForgotPassword" class="bforgot btn btn-outline-danger btn-block">Forgot Password?</a>
                            </p>
                            @*<p>
                                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                </p>*@
                        </div>
                    </form>
                </section>
            </article>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}