@model aspnetcore_mvc.Models.Account.RegisterModel

@{
    ViewData["Title"] = "User Registration";
}

<div style="margin:auto" class="container">
    <div class="row">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title align-items-center mb-4 mt-1">Registration</h4>
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="text"
                               name="FirstName"
                               id="FirstName"
                               placeholder="Enter your First Name" />
                        <label for="FirstName">First Name</label>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               name="LastName"
                               id="LastName"
                               placeholder="Enter your Last Name" />
                        <label for="LastName">Last Name</label>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               name="Email"
                               id="Email"
                               placeholder="Enter your Email Address" />
                        <label for="Email">Email Address</label>
                    </div>
                    <div class="form-group">
                        <input type="password"
                               name="Password"
                               id="Password"
                               placeholder="Enter Password" />
                        <label for="Password">Password</label>
                    </div>
                    <div class="form-group">
                        <input type="password"
                               name="ConfirmPassword"
                               id="ConfirmPassword"
                               placeholder="Confirm Password" />
                        <label for="ConfirmPassword">Confirm Password</label>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                </form>
            </article>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}