@model aspnetcore_mvc.Models.Account.ResetPasswordModel

@{ 
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <div class="row">
        <div class="card">
            <article class="card-body">
                <h2 class="card-title mb-4 mt-1">Reset Password</h2>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="password"
                               asp-for="Password"
                               id="password"
                               placeholder="Enter New Password" />
                        <label for="password">Enter New Password</label>
                    </div>
                    <div class="form-group">
                        <input type="password"
                               asp-for="ConfirmPassword"
                               id="password"
                               placeholder="Confirm New Password" />
                        <label for="ConfirmPassword">Confirm New Password</label>
                    </div>
                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>