@model aspnetcore_mvc.Models.Administration.CreateRoleModel

@{
    ViewData["Title"] = "Create New Role";
}

<div class="container">
    <div class="row">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Create Role</h4>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="text"
                               name="RoleName"
                               id="RoleName"
                               placeholder="Enter the Role Name" />
                        <label for="RoleName">Role Name</label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                </form>
            </article>
        </div>
    </div>
</div>